@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	background: #63ff1b;
	color: #149ac4;
	font-family: 'Magneto';
	border: 2px solid red;
}
div{
	margin:10px;
}
p{
	margin:10px;
	padding:10px;
	line-height:26px;
}
span{
	display: block;
	font-size: 14px;
}


.website-404{
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	width:600px;
	height:430px;
	border-right:10px solid #1b81c4;
	border-radius: 10px;
	background-color: #fff;
	overflow:hidden;
}